.chat_main
  .chat_main__group-info
    .chat_main__group-info__group
      .chat_main__group-info__group__name
        = @group.name
      
      %ul.chat_main__group-info__group__list
        Member :  
        %li.chat_main__group-info__group__member__list__member
          - @group.users.each do |user|
            = user.name
          
    .chat_main__group-info__edit
      .chat_main__group-info__edit__link
      = link_to edit_group_path(@group.id), class: "edit" do
        Edit
  .chat_main__message-list
    .chat_main__message-list__box
      .messages
        = render @messages
 
    
  .chat_main__message-form
    .form__box
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .text 
          = f.label :image, class: 'form__text__file' do
            = icon('far', 'image')
            = f.file_field :image, class: 'text__file-btn'
        = f.submit 'Send', class: 'btn'   