.side_bar
  .side_bar__user-name
    .side_bar__user-name__box
      = current_user.name
      %ul.side_bar__user-name__box__menu
        %li.side_bar__user-name__box__menu__send
          = link_to new_group_path, class: "menu" do
            = icon('far', 'edit')
        %li.side_bar__user-name__box__menu__edit
          = link_to edit_user_path(current_user), class: "menu" do
            = icon('fas', 'cog')
  .side_bar__group-list
    - current_user.groups.each do |group|
      .block
        = link_to '#' do
          .group__name
            = group.name
          .text
            メッセージはまだありません。
    